<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakendo Pizza Menu</title>
    <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <div class="navigation-container">
        <div class="navigation-content">
          <div class="logo"><img src="IMAGES/logo.png" /></div>
          <div class="menu">
            <ul>
              <li><a href="#">MENU</a></li>
              <li><a href="#">BEST DEALS</a></li>
              <li><a href="#">ONLINE ORDER</a></li>
            </ul>
          </div>
          <div class="cart">
            <img height="30px" src="IMAGES/cart.png" />
            <a href="#">Cart</a>
          </div>
        </div>
      </div>

      <div class="productMenu">
        <div class="menuTitle">
          <h1>Our Menu</h1>
        </div>
        <div class="product">
          <div>
            <h2 class="pizza">
              Pizza
            </h2>
            <p>Vesuvio</p>
            <p>Hawaii</p>
            <p>Kebabpizza</p>
          </div>
          <div>
            <h2 class="pasta">
              Pasta
            </h2>
            <p>Pasta Carbonara</p>
          </div>
          <div>
            <h2 class="fish">
              Fish
            </h2>
            <p>Sushi</p>
          </div>
          <div>
            <h2 class="burgers">
              Hamburgers
            </h2>
            <p>Burger</p>
            <p>Cheese & Bacon burger</p>
          </div>
        </div>

      </div>

</body>
</html>